<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Todo Note Web API!</h1>
            </hgroup>
            <p>
                What is TODO Note?
                <br />
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>What you can do with TODO Note</h3>
        <ol class="round">
            <li class="one">
                <h5>Create TODO Note</h5>
                <br />
            </li>
            <li class="two">
                <h5>Describe the Note</h5>
                <br />
            </li>
            <li class="three">
                <h5>Get Alert on phone</h5>
                <br />
            </li>
        </ol>
    </section>
</div>
